/* Override this file to customise the theme's CSS for your site */

.page__logo-inner {
    background-color: var(--base0E) !important;
    color: inherit;
}

/* Optional: hover stays the same */
.page__logo-inner:hover {
    background-color: var(--base0E) !important;
}